<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @class_taken.name %>
</p>

<p>
  <b>Duration:</b>
  <%= @class_taken.duration %>
</p>

<p>
  <b>Equipment used:</b>
  <%= @class_taken.equipment_used %>
</p>


<%= link_to 'Edit', edit_class_taken_path(@class_taken) %> |
<%= link_to 'Back', class_takens_path %>
